<div ng-controller="AccordionDemoCtrl as accordionCtrl">
	<h3><strong>Accueil</strong></h3>
	<accordion close-others="accordionCtrl.oneAtATime">
		<accordion-group ng-repeat="room in storeCtrl.rooms" is-open="room.status.open">
			<accordion-heading>
				<i class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': room.status.open, 'glyphicon-chevron-right': !room.status.open}">&nbsp;</i>
				{{room.location}}
			</accordion-heading>
			<div ng-repeat="sensor in storeCtrl.sensors">
				<div ng-if="sensor.location == room.location">
					<div class="list-group pull-left">
						<div class="panel panel-default" style="margin-left:10px;">
							<div class="panel-heading">
								<a class="close" href="">×</a>
								<h3 class="panel-title">{{sensor.type}}</h3>
							</div>
							
							<div class="panel-body">
								<div class="list-group">
									<img class="pull-left" ng-src="img/{{sensor.type}}.png"/>
									<h2 ng-repeat="statement in storeCtrl.statements" class="pull-left" style="margin-left:20px;">
										{{lastStat(sensor._id)}} 
									</h2>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</accordion-group>
	</accordion>
</div>