<div ng-controller="AccordionDemoCtrl as accordionCtrl">
	<h3><strong>Accueil</strong></h3>
	<accordion close-others="accordionCtrl.oneAtATime">
		<accordion-group ng-repeat="room in storeCtrl.rooms" is-open="room.status.open">
			<accordion-heading>
				<a class="close" ng-click="storeCtrl.deleteRoom(room._id)">×</a>
				<i class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': room.status.open, 'glyphicon-chevron-right': !room.status.open}">&nbsp;</i>
				{{room.name}}
			</accordion-heading>
			<div ng-repeat="sensor in storeCtrl.sensors">
				<div ng-if="sensor.location == room.name">
					<div class="list-group pull-left">
						<div class="panel panel-default" style="margin-left:10px;">
							<div class="panel-heading">
								<h3 class="panel-title">{{sensor.type}}&nbsp&nbsp&nbsp<a class="close" ng-click="">×</a></h3>
							</div>
							
							<div class="panel-body">
								<div class="list-group">
									<img class="pull-left" ng-src="img/{{sensor.type}}.png"/>
									<h2 class="pull-left" style="margin-left:20px;">
										{{sensor.description}} 
									</h2>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</accordion-group>
	</accordion>
</div>