<div>
	<h3><strong>Relevés</strong></h3>
	<div ng-controller="FlotChartDemoCtrl">
		<div class="panel panel-default">
			<div class="panel-heading font-bold">
				<select ng-model="associateCtrl.sensor" class="form-control" id="inputType" required>
					<option ng-repeat="sensor in storeCtrl.sensors" value="{{sensor._id}}">{{sensor.name}}</option>
				</select>
			</div>
			<div class="panel-body">
				<ul class="nav nav-pills nav-xxs nav-rounded m-b-lg">
					<li ng-class="{'active': selected == 'day'}">
						<a href ng-click="selected = 'day' && refreshData('day')">Jour</a>
					</li>
					<li ng-class="{'active': selected == 'week'}">
						<a href ng-click="selected = 'week' && refreshData('week')">Semaine</a>
					</li>
					<li ng-class="{'active': selected == 'month'}">
						<a href ng-click="selected = 'month' && refreshData('month')">Mois</a>
					</li>
				</ul>
				<div ui-jq="plot" ui-refresh="d" ui-options="
					[
					{ data: {{d}}, points: { show: true, radius: 6}, splines: { show: true, tension: 0.45, lineWidth: 5, fill: 0 } }
					],
					{
					colors: ['blue'],
					series: { shadowSize: 3 },
					xaxis:{
					font: { color: '#ccc' },
					position: 'bottom',
					ticks: [{{axisAbs}}]
					},
					yaxis:{ font: { color: '#ccc' } },
					grid: { hoverable: true, clickable: true, borderWidth: 0, color: '#ccc' },
					tooltip: true,
					tooltipOpts: { content: '%x is %y.4',  defaultTheme: false, shifts: { x: 0, y: 20 } }
					}
					" style="height:240px" >
				</div>
			</div>
		</div>
	</div>
</div>