<div>
	<h3><strong>Relevés</strong></h3>
	<div ng-controller="LineCtrl">
		<div class="panel panel-default">
			<div class="panel-heading font-bold">
				<form name="statementForm" class="form-horizontal">
					<div class="form-group">
						<div class="col-xs-9 col-sm-5">
							<label for="inputType" class="control-label">Selectionner un capteur : </label>
							<select ng-model="selectSensor" class="form-control" id="inputType" ng-change="refreshData()">
								<option ng-repeat="sensor in storeCtrl.sensors" value="{{sensor._id}}">{{sensor.name}}</option>
							</select>
						</div>
					</div>
				</form>
			</div>
			<div class="panel-body">
				<ul class="nav nav-pills nav-xxs nav-rounded m-b-lg">
					<li ng-class="{'active': selected == 'day'}">
						<a href ng-click="selected = 'day' && refreshData()">Jour</a>
					</li>
					<li ng-class="{'active': selected == 'week'}">
						<a href ng-click="selected = 'week' && refreshData()">Semaine</a>
					</li>
					<li ng-class="{'active': selected == 'month'}">
						<a href ng-click="selected = 'month' && refreshData()">Mois</a>
					</li>
				</ul>
				
			</div>
			<div class="panel-body">
				<canvas tc-chartjs-line chart-options="options" chart-data="data" style='padding-right:20px; height:300px;'></canvas>
			</div>
		</div>
	</div>
</div>