<div>
	<h3><strong>Paramètres</strong></h3>
	<fieldset>
		<legend>Ajout Salle</legend>
		<form name="addRoomForm" class="form-horizontal" ng-controller="RoomController as roomCtrl" ng-submit="addRoomForm.$valid && roomCtrl.addRoom(roomCtrl.room)" novalidate>
			<blockquote >
				<strong>{{roomCtrl.room | json}}</strong>
			</blockquote>
			<div class="form-group">
				<label for="inputName" class="col-sm-2 control-label">Nom</label>
				<div class="col-xs-6 col-md-5">
					<input ng-model="roomCtrl.room.name" type="text" class="form-control" id="inputName" placeholder="Nom de la salle" required>
				</div>
			</div>
			<div class="form-group">
				<label for="inputType" class="col-sm-2 control-label">Capteur associé</label>
				<div class="col-xs-6 col-md-5">
					<select ng-model="roomCtrl.room.sensors" class="form-control" id="inputType" required>
						<option ng-repeat="sensor in storeCtrl.sensors">{{sensor.name}}</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label for="inputLocation" class="col-sm-2 control-label">Localisation</label>
				<div class="col-xs-6 col-md-5">
					<input ng-model="roomCtrl.room.location" type="text" class="form-control" id="inputLocation" placeholder="Lieu de la salle" required>
				</div>
			</div>
			<div class="form-group">
				<label for="inputDescription" class="col-sm-2 control-label">Description</label>
				<div class="col-xs-6 col-md-5">
					<textarea ng-model="roomCtrl.room.description" class="form-control" rows="3" id="inputDescription"></textarea>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-default">Ajouter</button>
					<button type="reset" class="btn btn-default">Annuler</button>
				</div>
			</div>
		</form>
	</fieldset>
</div>