<div>
	<h3><strong>Paramètres</strong></h3>
	<fieldset>
		<legend>Ajout Salle</legend>
		<form name="addRoomForm" class="form-horizontal" ng-submit="addRoomForm.$valid && storeCtrl.addRoom()" novalidate>
			<div class="form-group">				
				<div class="col-xs-6 col-md-5">
					<label for="inputName" class="control-label">Nom:</label>
					<input ng-model="storeCtrl.name" type="text" class="form-control" id="inputName" placeholder="Nom de la salle" required>
				</div>
			</div>
			<div class="form-group">				
				<div class="col-xs-6 col-md-5">
					<label for="inputDescription" class="control-label">Description:</label>
					<textarea ng-model="storeCtrl.description" class="form-control" rows="3" id="inputDescription"></textarea>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-primary">Ajouter</button>
					<button type="reset" class="btn btn-default">Annuler</button>
				</div>
			</div>
		</form>
	</fieldset>
	<fieldset>
		<legend>Associer un Capteur à une Salle</legend>
		<form name="associateRoomForm" class="form-horizontal" ng-controller="AssociateController as associateCtrl" ng-submit="associateRoomForm.$valid && associateCtrl.associateSensor()" novalidate>
			<div class="form-group">				
				<div class="col-xs-6 col-sm-3">
					<label for="inputSensor" class="control-label">Capteur:</label>
					<select ng-model="associateCtrl.sensor" class="form-control" id="inputSensor" required>
						<option ng-repeat="mainSensor in storeCtrl.mainSensors" value="{{mainSensor._id}}">{{mainSensor.name}}</option>
					</select>
				</div>				
				<div class="col-xs-6 col-sm-3">
					<label for="inputRoom" class="control-label">associé à la salle:</label>
					<select ng-model="associateCtrl.room" class="form-control" id="inputRoom" required>
						<option ng-repeat="room in storeCtrl.rooms" value="{{room._id}}">{{room.name}}</option>
					</select>
				</div>
			</div>			
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-primary">Associer</button>
				</div>
			</div>
		</form>
	</fieldset>
</div>